# Normalize line endings to LF on commit and checkout
* text=auto eol=lf

# Force binary files to not be modified
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
